fastapi
uvicorn[standard]
python-multipart

motor
pymongo

pydantic
email-validator

PyJWT
python-dotenv
bcrypt

google-auth
google-auth-oauthlib
google-api-python-client
google-genai

python-docx
PyPDF2
Pillow
pdf2image

pytesseract

openai
groq
numpy
sentence-transformers
ollama

boto3
cloudinary

aiohttp
googlemaps
